# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# exa aliases
alias e="eza --time-style long-iso"
alias ee="eza --all --oneline --long --group-directories-first --time-style long-iso"
alias et="eza --tree --long --group-directories-first --time-style long-iso --ignore-glob 'venv|node_modules|__pycache__'"


# cd aliases
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias cd..="cd .."

# Docker and Kubernetes
alias dk='docker'
alias dki='docker images'
alias dkc='docker-compose'
alias docker='podman'
alias k='kubectl'
alias kaf='kubectl apply -f'
alias kdf='kubectl delete -f'
alias kpf='kubectl port-forward'
alias kg='kubectl get'
alias kgpo='kubectl get pod'

# Other
alias c='clear'
alias hg='history|grep'
alias mkdir='mkdir -pv'
alias path='printf "%b\n" "${PATH//:/\\n}"'
alias py='python3'
alias untar='tar -zxvf'
alias va='source ./.venv/bin/activate'
alias ve='python3 -m venv ./.venv'
alias tf='terraform'
