# ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# cd aliases
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias cd..="cd .."

# Other
alias c='clear'
alias cp='cp -iv'
alias dkc='docker-compose'
alias dk='docker'
alias dki='docker images'
alias hg='history|grep'
alias k='kubectl'
alias kpf='kubectl port-forward'
alias mkdir='mkdir -pv'
alias mv='mv -iv'
alias path='printf "%b\n" "${PATH//:/\\n}"'
alias py='python3'
alias untar='tar -zxvf'
alias va='source ./venv/bin/activate'
alias ve='python3 -m venv ./venv'
alias ghvw='gh repo view -w'
