#!/usr/bin/env zsh

# history
export HISTSIZE=1000000
export SAVEHIST=1000000
export HISTFILESIZE='20000';
export HISTFILE=~/.zsh_history;

# don't put duplicate lines or lines starting with space in the history.
export HISTCONTROL='ignoreboth';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# export Browser
uname -a  | grep -q Darwin 
if [[ $? -ne 0 ]]; then       # -ne: not equal
    export BROWSER='/c/Program\ Files\ (x86)/Microsoft/Edge/Application/msedge.exe'
fi

# Make vim default editor
export EDITOR=vim

export PATH=$PATH:$GOPATH/bin # GOPATH is defined in .zshrc.local
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
